<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.huhao.demo.infrastructure.persistence.user.UserMapper">

  <insert id="insert">
    insert into user (id, user_name, display_name, signature, email)
    values (#{user.id}, #{user.userName}, #{user.displayName}, #{user.signature}, #{user.email});
  </insert>
  <select id="findById" resultMap="records.user">
    select *
    from user
    where user.id = #{id}
  </select>

</mapper>
